

.blog-form{
    display: flex;
    flex-direction: column;
}

#textboxid{
    height: 200px;
    margin-top: 20px;
}

.publish-btn{
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.secretdiv{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.blogDiv{
    border-color: black;
    background-color: aquamarine;
}