#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
}


.formi{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
}


.input-group{
display: flex;
flex-direction: column;
gap: 1rem;
width: 250px;
}


input{
padding: 0.7rem;
border-radius: 8px;
border: 1px solid #ccc;
font-size: 1rem;
}


.login-btn{
padding: 0.7rem 1rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
background-color: #646cff;
color: white;
transition: 0.2s;
}


.login-btn:hover{
background-color: #4b52cc;
}


.login-container{
display: flex;
flex-direction: column;
align-items: center;
gap: 1.5rem;
}

